body{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 41%, rgba(0,212,255,1) 100%);
} 

@keyframes myChange {
    from {
        width: 100%;
    } to {
        width: 0;
    }
}

.animate-show-hide.ng-hide {
    animation: 0.5s myChange;
  }
  
  .animate-show-hide.ng-show {
    animation: 0.5s myChange;
  }