<app-top-bar></app-top-bar>
<div class="d-flex" id="wrapper">

   <!-- Sidebar -->
  <app-side-bar class="ngb-clo-5 nav-container animate-show-hide" [hidden]="state"></app-side-bar>
  <!-- /#sidebar-wrapper -->
  <button (click)="SideBarShow_Hide()">Toggle Menu</button>
  <!-- Page Content -->
  <div id="page-content-wrapper main-container animate-show-hide" style="overflow-y:auto;">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

